/* 
    Created on : Jun 25, 2015, 3:01:29 AM
    Author     : Jeffrey
*/

body {
    background-color: whitesmoke;
}

body div {
    background-color: white;
    margin: 0 auto;
    width: 960px;
}

pre {
    background-color: whitesmoke;
    border: 1px silver dashed;
}

